.catalog {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 2rem 1rem;
	font-size: 2rem;
}

.catalog > h1 {
	font-weight: 500;
	margin: 2rem auto;
}

.product-list {
	margin-top: 2rem;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	gap: 4rem;
	padding: 0 3rem;
}
