.navbar {
	width: 100%;
	height: var(--navbar-height);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 3rem;
	align-items: center;
	background-color: #000000;
	color: white;
}

.logo {
	font-size: 2.5em;
}

.navbar > nav > ul {
	display: flex;
	gap: 5rem;
	font-size: 2rem;
	list-style-type: none;
}

.navbar a:visited,
.navbar a:link {
	text-decoration: none;
}

.navbar-cart {
	position: relative;
	padding-right: 2rem;
}

li {
	padding: 1.5rem 0 1.5rem 0;
}

.cart-number {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	font-size: 1.6rem;
	width: 2.5rem;
	height: 2.5rem;
	color: black;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 50%;
}

a {
	color: white;
	text-decoration: none;
	transition: transform 250ms ease-in-out;
	border-bottom: 2s solid pink;
}

a.link:hover {
	display: inline-block;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@media screen and (min-width: 60rem) {
	.logo {
		font-size: 3em;
	}
	.navbar {
		flex-direction: row;
	}
}
