@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--navbar-height: 9rem;
}

html {
	font-size: 62.5%;
	height: 100%;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	font-family: "Montserrat", sans-serif;
	height: 100%;
	background-color: rgb(235, 242, 243);
}
